.navbar {
  width: 1728px;
  height: 73px;
  display: flex;
  flex-shrink: 0;
  border: 1px solid rgba(255, 255, 255, 0.07);
  background: rgba(33, 33, 33, 0.7);
  backdrop-filter: blur(45px);
  position: fixed;
  top: 0;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
}
